In [90]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/ford-car-price-prediction/ford.csv

1. model - > Ford Car Brands  ## use
2. year - >Production Year      ## use
3. price - >Price of car in $
4. transmission - > Automatic,Manual, Semi-Auto  ## disputed
5. mileage -> Number of miles traveled                ## use
6. fuel_Type -> Petrol,Diesel,Hybrid,Electric,Other   ## use
7. tax -> Annual Tax
8. mpg - > Miles per Gallon
9. engineSize - > Car's Engine Size                   ## use

In [91]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [92]:
import warnings
warnings.filterwarnings("ignore")

In [93]:
ford_data=pd.read_csv("/kaggle/input/ford-car-price-prediction/ford.csv")

In [94]:
df=pd.DataFrame(ford_data)

## EDA

In [95]:
df.head()

     model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   Fiesta  2017  12000    Automatic    15944   Petrol  150  57.7         1.0
1    Focus  2018  14000       Manual     9083   Petrol  150  57.7         1.0
2    Focus  2017  13000       Manual    12456   Petrol  150  57.7         1.0
3   Fiesta  2019  17500       Manual    10460   Petrol  145  40.3         1.5
4   Fiesta  2019  16500    Automatic     1482   Petrol  145  48.7         1.0

In [96]:
df.tail()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
17961,B-MAX,2017,8999,Manual,16700,Petrol,150,47.1,1.4
17962,B-MAX,2014,7499,Manual,40700,Petrol,30,57.7,1.0
17963,Focus,2015,9999,Manual,7010,Diesel,20,67.3,1.6
17964,KA,2018,8299,Manual,5007,Petrol,145,57.7,1.2
17965,Focus,2015,8299,Manual,5007,Petrol,22,57.7,1.0

In [ ]:
df.describe()

,year,price,mileage,tax,mpg,engineSize
count,17966.000000,17966.000000,17966.000000,17966.000000,17966.000000,17966.000000
mean,2016.866470,12279.534844,23362.608761,113.329456,57.906980,1.350807
std,2.050336,4741.343657,19472.054349,62.012456,10.125696,0.432367
min,1996.000000,495.000000,1.000000,0.000000,20.800000,0.000000
25%,2016.000000,8999.000000,9987.000000,30.000000,52.300000,1.000000
50%,2017.000000,11291.000000,18242.500000,145.000000,58.900000,1.200000
75%,2018.000000,15299.000000,31060.000000,145.000000,65.700000,1.500000
max,2060.000000,54995.000000,177644.000000,580.000000,201.800000,5.000000

,year,price,mileage,tax,mpg,engineSize
count,17966.000000,17966.000000,17966.000000,17966.000000,17966.000000,17966.000000
mean,2016.866470,12279.534844,23362.608761,113.329456,57.906980,1.350807
std,2.050336,4741.343657,19472.054349,62.012456,10.125696,0.432367
min,1996.000000,495.000000,1.000000,0.000000,20.800000,0.000000
25%,2016.000000,8999.000000,9987.000000,30.000000,52.300000,1.000000
50%,2017.000000,11291.000000,18242.500000,145.000000,58.900000,1.200000
75%,2018.000000,15299.000000,31060.000000,145.000000,65.700000,1.500000
max,2060.000000,54995.000000,177644.000000,580.000000,201.800000,5.000000

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
columns=df.columns
columns

In [ ]:
for col in columns:
    print(f"{col} name :",df[col].unique())

In [ ]:
cols = ['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'tax',
       'mpg', 'engineSize']  

for co in cols:
    plt.figure(figsize=(8,6))
    sns.histplot(df[co], kde=True, bins=40)
    plt.title(f'Distribution of {co}')
    plt.xticks(rotation=90)
    plt.tight_layout()
    plt.show()

In [ ]:
numeric_columns=df.select_dtypes(include=np.number).columns.tolist()
for i in numeric_columns:
    plt.figure(figsize=(8,6))
    sns.boxplot(x=df[i])
    plt.title(f'Distribution of {i}')
    plt.xticks(rotation=90)
    plt.tight_layout()
    plt.show()

In [ ]:
corr=df.corr(numeric_only=True)
corr

In [ ]:
sns.heatmap(corr,annot=True)

In [ ]:
sns.boxplot(data=df,x='year',y='price')
plt.xticks(rotation=90)

In [ ]:
sns.scatterplot(data=df,x='mileage', y='price')

In [ ]:
sns.boxplot(data=df,x='engineSize',y='price')

In [ ]:
sns.boxplot(data=df,x='transmission',y='price')

In [ ]:
sns.boxplot(data=df,x='fuelType',y='price')

In [ ]:
sns.boxplot(data=df,x='model',y='price')
plt.xticks(rotation=90)

In [ ]:
sns.scatterplot(data=df,x='tax', y='price')

In [ ]:
sns.scatterplot(data=df,x='mpg', y='price')

In [ ]:
x=df.drop('price',axis=1)
y=df['price']
x

## One hot encoding

In [ ]:

x_one_encoded=pd.get_dummies(x,columns=['model','transmission','fuelType'], drop_first=True)
x_one_encoded

In [ ]:
print(x.shape,x_one_encoded.shape)

In [ ]:
x_one_encoded=x_encoded.astype(int)
x_one_encoded

## Label Encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder

xlabel = x.copy()
encoders = {}   # store encoders for each column

for col in ['model', 'transmission', 'fuelType']:
    le = LabelEncoder()
    xlabel[col] = le.fit_transform(x[col])  # transform categorical -> numeric
    encoders[col] = le                      # save the encoder

In [ ]:
xlabel

## Standerdization

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [ ]:
col=['year','mileage','tax','mpg','engineSize']
x_one_encoded[col] = scaler.fit_transform(x_one_encoded[col])
x_one_encoded

In [ ]:
label_col=['model', 'year', 'transmission', 'mileage', 'fuelType', 'tax', 'mpg',
       'engineSize']

In [ ]:
xlabel[label_col]=scaler.fit_transform(xlabel[label_col])
xlabel

## Model training

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x_one_encoded, y, test_size=0.33, random_state=42)

In [ ]:
model=LinearRegression()
model.fit(X_train,y_train)

In [ ]:
y_pred=model.predict(X_test)

In [ ]:
y_pred

In [ ]:
y_test

## Model Testing

In [ ]:
r2=r2_score(y_test,y_pred)
r2

In [ ]:
n=X_test.shape[0]
p=X_test.shape[1]
adjusted_r2=1-((1-r2)*(n-1)/(n-p-1))
adjusted_r2

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(xlabel, y, test_size=0.33, random_state=42)

In [ ]:
model2=LinearRegression()
model2.fit(X_train,y_train)

In [ ]:
y_pred=model.predict(X_test)

In [ ]:
y_pred

In [ ]:
y_test

In [ ]:
r2=r2_score(y_test,y_pred)
r2